{
  "presets": ["es2015", "react-native"],
  "plugins":
  [
    ["extensible-destructuring", {"mode": "optout", "impl": "immutable"}],
    "transform-export-extensions",
    "transform-decorators-legacy"
  ]
}
